<!DOCTYPE html>
<html>
<head>
	<title>Juego</title>
</head>
<body>
	<h1>Inicio de Partida</h1>
	<h2>Jugador 1</h2> 
	<h2>Jugador 2</h2>
	<form action="/repartir" method="post">
		<h3>Carta 1</h3> <input type="text" name="camp1">
		<h3>Carta 2</h3> <input type="text" name="camp2">
		<h3>Carta 1</h3> <input type="text" name="camp3">
		<h3>Carta 2</h3> <input type="text" name="camp4">
		<input type="submit" value="Repartir">
	</form>
</body>
</html>