<!DOCTYPE html>
<html>
<head>
	<title>Juego</title>
</head>
<body>
	<h1>Inicio de Partida</h1>
	<form action="/repartir" method="post">
		<input type="submit" value="Repartir">
	</form>
</body>
</html>