<!DOCTYPE html>
<html>
<head>
	<title>Bienvenido</title>
</head>
<body>
	<h1>Bienevenido a 21 Jack</h1>
	<form method="post" action="/mesa">
		<input type="submit" value="Ingresar">
	</form>
</body>
</html>